<form action="/photos" enctype="multipart/form-data" method="post">
    <input type="file" name="upload"><br>
    <input type="text" name="thumb" id="thumb">
    <input type="text" name="takenBy" id="takenBy">
    <input type="submit" value="Upload">
</form>
