/* Colours */

$colourPrimary: pink;
$colourSecondary: orange;

$yellow: #fffee0;
$grey: #6e7578;
$green: #7adbc3;
$darkgreen: #779e77;
$brown: #e3bd86;
$darkbrown: #a68e72;
$orange: #f78e43;

/* Typography  */

$baseFontSize: 16; // No px on this
$baseLineHeight: 25px; 
$baseFontFamily: Arial, Helvetica, sans-serif;
$baseFontColour: #222;

$headingFontFamily: Arial, Helvetica, sans-serif; 
$headingColour: #222;

$headingAlpha:                  32px;
$headingBeta:                   24px;
$headingGamma:                  19px;
$headingDelta:                  16px;
$headingEpsilon:                13px;
$headingZeta:                   11px;

/* Links  */
$linkColour: $green;
$linkVisited: $linkColour;
$linkHover: darken($linkColour, 20);
$linkActive: darken($linkColour, 20);
$linkFocus: darken($linkColour, 40);

$small: 460px;
$medium: 600px;
$large: 960px;