<p>Admin</p>

<p>Big list of users</p>
<ul class="admin__users">
    {{#each users }}
    <li {{#if this.isAdmin}}class="admin__admin-user"{{/if}}>
        <a href="/admin/user/{{this._id}}">{{this.local.username}}</a>
    </li>
    {{/each}}
</ul>