<div class="rule animation"></div>
<div id="photos">

    <div class="upload__wrapper">
        <span>Allowed: jpg, jpeg png, gif</span>
        <form action="/api/photos" method="post" enctype="multipart/form-data" id="upload" class="upload--form">
            <input type="file" name="photo" id="photo">
            <input type="submit" value="Upload" id="submit">
        </form>
        <div class="progress fadeOut">
            <div class="progress__bar animation"></div>
            <div class="progress__status">0%</div>
        </div>
        <div class="upload__output"></div>
    </div>
</div>

<script id="photoTemplate" type="text/template">
    <figure class="image">
        <a href="<%= path %>" title="<%= caption %>" class="image__link">
            <img src="<%= thumbnail %>" class="image__photo" id="<%= _id %>" />
        </a>
        
        <figcaption class="image__caption"><%= caption %></figcaption>
    </figure>
    <aside class="image__meta">Taken by <%= takenBy %> on <%= $.format.date(new Date(date), 'D MMMM yyyy') %></aside>
    <button class="update">Update</button>
    <button class="delete">Delete</button>
</script>

{{!-- 
<script src="js/lib/jquery-2.1.3.min.js"></script>
<script src="js/lib/jquery-dateFormat.min.js"></script>
<script src="js/lib/underscore-min.js"></script>
<script src="js/lib/backbone-min.js"></script>

<script src="js/models/photo.js"></script>
<script src="js/collections/album.js"></script>
<script src="js/views/photoView.js"></script>
<script src="js/views/albumView.js"></script>
<script src="js/app.js"></script> --}}

<script src="build/js/lib.js"></script>
<script src="build/js/app.js"></script>
