.header {
    background: url('/img/giant-flowers.png') center center no-repeat transparent;
    padding-top: 100px;
    height: 380px;
    text-align: center;
}

.overlay {
    background-color: rgba($yellow, 0.4);
    z-index: 900;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.message {
    width: 100%;
    text-align: center;
    background: darken($yellow, 10%);
    border: 1px solid darken($yellow, 40%);
    border-radius: 4px;
    padding: 1rem 0;
    margin: 1rem auto 0;

    @media (min-width: $large) {
        max-width: 50%;
    }
}
