body {
    background: $yellow;
}

// photos -----------------------
#photos {
    @extend .clearfix;
    text-align: center;
    padding-bottom: 3rem;
}

.photo__container {
    @extend .clearfix;
    width: 99%;
    margin: auto;
}

.photoContainer {
    overflow: hidden;

    @media (min-width: $small) {
        margin: auto;
    }

    @media (min-width: $medium) {
        float: left;
        width: 50%;
        padding: 1%;
    }

    @media (min-width: $large) {
        width: 33.3333%;
    }
}

.image {
    overflow: hidden;
}

.image__link {
    display: block;
}

.highlight {
    animation: highlight 2s;
}

@keyframes highlight {
    from {
        background: #ff9;
    }
    to {
        background: none;
    }
}

// form ---------------


.rule {
    width: 100%;
    margin: 2em auto;
    height: 4px;
}


.animation {
    background-color: rgb(232, 125, 62);
    animation: change_colour 10s linear 0s infinite alternate;
}

@keyframes change_colour {
    0% {
        /* orange */
        background-color: rgb(232, 125, 62);
    }
    20% {
        /* yellow */
        background-color: rgb(229, 181, 103);
    }
    40% {
        /* green */
        background-color: rgb(180, 210, 115);
    }
    60% {
        /* blue */
        background-color: rgb(108, 153, 187);
    }
    80% {
        /* purple */
        background-color: rgb(158, 134, 200);
    }
    100% {
        /* pink */
        background-color: rgb(176, 82, 121);
    }
}